// custom styles
$primary: #355fe8;
$dark: #000000;
$secondary: #cccccc;
$muted: #b5b5b5;
$white: #ffffff;
$success: #14ba62;
$progress-height: 10px;

body {
  background-image: url();
}

.nav {
  a {
    color: #b5b5b5;

    &:hover {
      color: $white;
      border-bottom: $primary;
    }
  }
}

a i {
  color: $white;
}

.portfolio-hover {
  display: none;
  animation: zoomOut .45s ease-in-out forwards;
}

.portfolio-item:hover .portfolio-hover {
  display: block;
}

@keyframes zoomOut {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

// .nav-underline {
//   .nav-link {
//     &:active {
//       border-bottom-color: green;

//     &:hover {
//       border-bottom-color: blue; // optional hover underline color
//     }
//   }
//   }
// }


@import "../node_modules/bootstrap/scss/bootstrap";